<table border="1">
    <tr>
        <td>{# 当变量未定义时，显示默认字符串，可以缩写为d #}
            <p>{{ name | default('name未定义') }}</p>
            <p>{{ name | d('name未定义') }}</p>
        </td>
        <td>{# 单词首字母大写 #}
            <p>{{ 'flask' | capitalize }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>{{ '1234' | liyuan_filter(5)}}</p>
            <p>{{ '12345679' | liyuan_filter(5)}}</p>
        </td>
    </tr>
    <tr>
        <td>{# 单词全小写 #}
            <p>{{ 'FLASK' | lower }}</p></td>
        <td>{# 去除字符串前后的空白字符 #}
            <p>{{ 'flask' | trim }}</p></td>
    </tr>
    <tr>
        <td>{# 字符串反转，返回"ksalf" #}
            <p>{{ 'flask' | reverse }}</p></td>
        <td>{# 格式化输出，返回"数字是 2" #}
            <p>{{ '%s is %d' | format("数字是", 2) }}</p></td>
    </tr>
    <tr>
        <td>{# 关闭HTML自动转义 #}
            <p>{{ '<h1>HTML内容</h1>' | safe }}</p></td>
        <td>{# 四舍五入取整，返回10.0 #}
            <p>{{ 10.234 | round }}</p></td>
    </tr>
    <tr>
        <td>{# 向下截取到小数点后2位，返回11.47 #}
            <p>{{ 11.47 | round(2, 'floor') }}</p></td>
        <td>{# 绝对值，返回12 #}
            <p>{{ -12 | abs }}</p></td>
    </tr>
    <tr>
        <td>{# 取第一个元素 #}
            <p>{{ [1,2,3,4,5] | first }}</p></td>
        <td>{# 取最后一个元素 #}
            <p>{{ [1,2,3,4,5] | last }}</p></td>
    </tr>
    <tr>
        <td>{# 返回列表长度 #}
            <p>{{ [1,2,3,4,5] | length }}</p></td>
        <td>{# 列表求和 #}
            <p>{{ [1,2,3,4,5] | sum }}</p></td>
    </tr>
    <tr>
        <td>{# 列表排序，默认为升序 #}
            <p>{{ [3,2,1,5,4] | sort }}</p></td>
        <td>{# 合并为字符串，返回"1 | 2 | 3 | 4 | 5" #}
            <p>{{ [1,2,3,4,5] | join(' | ') }}</p></td>
    </tr>
</table>